.searchForm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 300px;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}

.searchButton {
  padding: 10px 20px;
  border-radius: 0 8px 8px 0;
  border: none;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.searchButton:hover {
  background-color: #777;
}

.clearButton {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clearButton:hover {
  background-color: #777;
}
